
@{
    ViewData["Title"] = "Kayıt Ol";
}

<form asp-controller="User" asp-action="CreateNewUser" method="post" id="newuserform" data-parsley-validate="">
    <div class="jumbotron">
        <h1>Kayıt Ol</h1>
        @Html.AntiForgeryToken()
        <div class="form-group">
            <label>Kullanıcı Adı</label>
            <input type="text" name="UserName" id="username" value="" placeholder="Kullanıcı Adı" class="form-control" data-parsley-length="[8, 40]" data-parsley-group="block1" data-parsley-trigger="change" required="" />
        </div>
        <div class="form-group">
            <label>Email</label>
            <input type="email" name="Email" id="email" value="" placeholder="test@ornek.com" class="form-control" data-parsley-type="email" data-parsley-length="[5, 70]" data-parsley-group="block1" data-parsley-trigger="change" required="" />
        </div>
        <div class="form-group">
            <label>Ad</label>
            <input type="text" name="Name" id="name" value="" placeholder="Ad" class="form-control" data-parsley-length="[2, 50]" data-parsley-group="block1" data-parsley-trigger="change" required="" />
        </div>
        <div class="form-group">
            <label>Soyad</label>
            <input type="text" name="Surname" id="surname" value="" placeholder="Soyad" class="form-control" data-parsley-length="[2, 50]" data-parsley-group="block1" data-parsley-trigger="change" required="" />
        </div>
        <div class="form-group">
            <label>Şifre</label>
            <input type="password" name="Password" id="password" value="" placeholder="Şifre" class="form-control" data-parsley-length="[12, 50]" data-parsley-group="block1" data-parsley-trigger="change" required="" />
        </div>
        <div class="invalid-form-error-message"></div>
        <recaptcha />
        <div class="form-group">
            <input type="button" value="Yeni Kayıt" class="form-control validate" id="newuserbutton" />
        </div>
    </div>
</form>

@section Scripts {
    <recaptcha-script />
}