@model Application.Models.User.NewUserModel
@{
    ViewData["Title"] = "Hesabım";
}

<h1>Hesabım</h1>

<p>Hoşgeldin @Model.UserName</p>

<a class="btn btn-primary" asp-controller="Account" asp-action="EditProfile">Biglileri Düzenle</a>
<br />
<a class="btn btn-primary" asp-controller="Group" asp-action="CreateGroup">Grup Oluştur</a>

